<div class="column">
    <% if user_signed_in? %>
        <article class="media box">
            <div class="media-content">
                    <%= render "posts/form" %>
            </div>
        </article>
    <% end %>

    <% @posts.each do |post | %>
        <div class="box">
            <article class="media">
                <% if user_signed_in? %>
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <%= gravatar_image_tag(post.user.email, size: 64, alt: post.user.name) %>
                        <p>
                    </figure>
                    <div class="media content">
                        <div class="content">
                            <strong>@<%= post.user.username %><strong><br/><br/>
                            <p><%= post.post %></p>
                        </div>
                    </div>
                <% else %>
                    <div class="media content">
                        <div class="content">
                            <p><%= post.post %></p>
                        </div>
                    </div>
                <% end %>   
            </article>
        </div>

    <% end %>
</div>